/* General */

html {
  font-family: Helvetica;
  font-size: 16px;
  color: hsl(0, 0%, 29%);
}

.site-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

div, nav {
  border: 1px solid pink;
}

/* Header */

header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: white;
}

header .site-container {
  justify-content: center;
  align-items: center;
}

header .desktop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 0.5rem 0.75rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo-title img {
  height: 2.5rem;
}

span.name {
  font-weight: bold;
}

nav {
  margin-right: 1.5rem;
}

nav a {
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 4rem;
  color: hsl(0, 0%, 29%);
}

.desktop a:hover {
  background-color: hsl(0, 0%, 29%);
  color: white;
}
