/* General */

html {
  font-family: Helvetica;
  font-size: 16px;
  color: hsl(0, 0%, 29%);
}

/*div, nav {
  border: 1px solid pink;
}*/

a {
  text-decoration: none;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.site-container {
  width: 960px;
  display: flex;
  justify-content: space-between;
  }

.main {
  position: relative;
  top: 4rem;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.large-column {
  width: 60%;
  padding: 2rem 0rem 2rem 1.5rem;
}

.medium-column {
  width: 40%;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

/* Header */

header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: white;
}

header .site-container {
  justify-content: center;
  align-items: center;
}

header .desktop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
  height: 4rem;
  margin: 0.5rem 0.75rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo-title img {
  height: 2.5rem;
}

span.name {
  font-weight: bold;
}

nav {
  margin-right: 1.5rem;
}

nav a {
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 4rem;
  color: hsl(0, 0%, 29%);
}

.desktop a:hover {
  background-color: hsl(0, 0%, 29%);
  color: white;
}

/* "Learn Something Section" */

.banner {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: hsl(9, 0%, 85%);
}

.banner p {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.big-img {
  max-width: 100%;
}

.button {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: hsl(0, 0%, 29%);
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.button:hover {
  background-color: white;
  color: hsl(0, 0%, 29%);
}
